In [3]:
1 + 1

2

In [6]:
type(2)

int

In [7]:
type('Hello')

str

In [9]:
type(2.8)

float

In [16]:
nome = 'Paulo'
idade = 21
print('Meu nome é {one} e tenho {two} anos!'.format(one=nome, two=idade))

Meu nome é Paulo e tenho 21 anos!

In [17]:
nome[1:]

'aulo'

In [18]:
nome[:3]

'Pau'

In [21]:
nome[1:4]

'aul'

In [22]:
dic = {'1': 'Paulo', '2': 'Marconi'}

In [23]:
dic

{'1': 'Paulo', '2': 'Marconi'}

In [24]:
dic['1']

'Paulo'

In [20]:
x = 3
if x >= 4:
    print('Maior')
else:
    print('Menor')

Menor

In [26]:
lista = [1,2,3,4]
lista2 = [item**2 for item in lista]

In [27]:
lista2

[1, 4, 9, 16]

In [33]:
seq = [1,3,5,7]
def quadrado(x):
    return x**2
list(map(quadrado, seq))

[1, 9, 25, 49]

In [30]:
list(map(lambda x:x**2, seq))

[1, 9, 25, 49]

In [36]:
seq2 = [2,3,4,5]
list(filter(lambda x:x%2!=0, seq2))

[3, 5]

In [38]:
nome.isalpha()

True