In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(data=np.random.rand(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(df['W'])

pandas.core.series.Series

In [7]:
df['W']

A    0.516399
B    0.685277
C    0.721544
D    0.181892
E    0.083561
Name: W, dtype: float64

In [8]:
df.W

A    0.516399
B    0.685277
C    0.721544
D    0.181892
E    0.083561
Name: W, dtype: float64

In [9]:
df[['W', 'Z']]

          W         Z
A  0.516399  0.171522
B  0.685277  0.893613
C  0.721544  0.352132
D  0.181892  0.232354
E  0.083561  0.276239

In [15]:
df['new'] = df['W'] + df['Z']

In [12]:
df

          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  0.687920
B  0.685277  0.833897  0.306966  0.893613  1.578890
C  0.721544  0.189939  0.554228  0.352132  1.073676
D  0.181892  0.785602  0.965483  0.232354  0.414246
E  0.083561  0.603548  0.728993  0.276239  0.359800

In [16]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [17]:
df

          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  0.687920
B  0.685277  0.833897  0.306966  0.893613  1.578890
C  0.721544  0.189939  0.554228  0.352132  1.073676
D  0.181892  0.785602  0.965483  0.232354  0.414246
E  0.083561  0.603548  0.728993  0.276239  0.359800

In [18]:
df.drop('new', axis=1, inplace=True)

In [19]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

<h3>Seleção por indíces do DataFrame</h3>

Seleção baseada no nome dos indíces

In [22]:
df.loc['A']

W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

<h3>Seleção por indíces e colunas do DataFrame</h3>

Seleção baseada no nome dos indíces

In [23]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  0.570668  0.028474  0.171522
B  0.833897  0.306966  0.893613

<h3>Seleção baseada na indexação do Numpy</h3>

In [25]:
df.iloc[1:4, 2:]

          Y         Z
B  0.306966  0.893613
C  0.554228  0.352132
D  0.965483  0.232354