In [1]:
import numpy as np
import pandas as pd

In [2]:
#níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

<h3>Criando uma lista de tuplas com o produto cartesiano das duas listas</h3>

In [5]:
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

<h3>Criando um relacionamento multínivel no pandas através de tuplas</h3>

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [11]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns='A B'.split())

In [12]:
df

             A         B
G1 1 -0.930332  0.523311
   2 -1.993985  0.837507
   3 -0.162507 -0.605353
G2 1  1.577832 -0.801470
   2  0.151071  0.169923
   3 -0.975824 -0.098045

In [13]:
df.loc['G1']

          A         B
1 -0.930332  0.523311
2 -1.993985  0.837507
3 -0.162507 -0.605353

In [15]:
df.loc['G1'].loc[1]

A   -0.930332
B    0.523311
Name: 1, dtype: float64

In [16]:
df.index.names = ['Grupo', 'Número']

In [17]:
df

                     A         B
Grupo Número
G1    1      -0.930332  0.523311
      2      -1.993985  0.837507
      3      -0.162507 -0.605353
G2    1       1.577832 -0.801470
      2       0.151071  0.169923
      3      -0.975824 -0.098045

<h3>O cross section pode selecionar dados especificando qual o nível</h3>

In [18]:
df.xs('G1')

               A         B
Número
1      -0.930332  0.523311
2      -1.993985  0.837507
3      -0.162507 -0.605353

In [20]:
df.xs(1, level='Número')

              A         B
Grupo
G1    -0.930332  0.523311
G2     1.577832 -0.801470