In [1]:
import numpy as np
import pandas as pd

In [9]:
d = {'A': [1, 2, np.nan], 'B': [3, np.nan, 5], 'C': [1, 2, 3]}

In [10]:
d

{'A': [1, 2, nan], 'B': [3, nan, 5], 'C': [1, 2, 3]}

In [11]:
df = pd.DataFrame(d)

In [12]:
df

     A    B  C
0  1.0  3.0  1
1  2.0  NaN  2
2  NaN  5.0  3

<h3>Removendo localmente apenas as linhas que contém dados ausentes</h3>

In [13]:
df.dropna()

     A    B  C
0  1.0  3.0  1

<h3>Removendo apenas linhas que contém no mínimo a quantidade dados especificada no parâmetro thresh</h3>

In [14]:
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  1
1  2.0  NaN  2
2  NaN  5.0  3

<h3>Substituindo os valores nulos por algo especificado no parâmetro value</h3>

In [15]:
df.fillna(value='NULO')

      A     B  C
0     1     3  1
1     2  NULO  2
2  NULO     5  3

In [16]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

<h3>Usando a abordagem de completar valores nulos com base nos anteriores não nulos</h3>

In [17]:
df.fillna(method='ffill')

     A    B  C
0  1.0  3.0  1
1  2.0  3.0  2
2  2.0  5.0  3