In [1]:
import pandas as pd
df = pd.DataFrame({'col1': [1,2,3,4], 'col2': [444,555,666,444], 'col3': ['abc', 'def', 'ghi', 'xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [5]:
import numpy as np

In [8]:
np.unique(df['col2'])

array([444, 555, 666], dtype=int64)

### Retorna o número de dados únicos de uma determinada coluna

In [7]:
df['col2'].nunique()

3

### Retorna o todos os valores e o número de vezes em que cada um aparece na coluna

In [9]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Operações de seleção

In [10]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [11]:
df[(df['col1']>2) & (df['col2']==444)]

   col1  col2 col3
3     4   444  xyz

### Aplicando funções para todas os valores de linhas/colunas

In [12]:
def vezes2(x):
    return x*2

In [13]:
df['col1'].sum()

10

In [14]:
df['col1'].apply(vezes2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64